<div id="collection" class="collection">

  <!-- ko foreach: {data: message_ets, as: 'message_et'} -->
    <!-- ko foreach: {data: message_ets.assets, as: 'asset'} -->
    <!-- ko if: asset.is_image() -->
      <div class="message-asset-image" data-bind="fit_to_viewport: asset">
        <div class="image image-loading" data-bind="
                attr: {'data-uie-visible': $parent.visible},
                background_image: asset.resource,
                click: $parents[1].show_detail,
                css: {'bg-color-ephemeral': message.is_expired()},
                viewport_changed: $parents[1].viewport_changed
                " data-uie-name="go-image-detail">
          <!-- ko ifnot: message.is_expired() -->
          <img class="image-element" data-bind="attr: {src: asset.dummy_url}"/>
                  <span class="image-placeholder-icon">
                    <div class="three-dots">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </span>
          <!-- /ko -->
          <!-- ko if: message.is_expired() -->
          <div class="icon-library flex-center full-screen text-white"></div>
          <img class="image-element image-ephemeral" data-bind="attr: {src: asset.dummy_url}"/>
          <!-- /ko -->
        </div>
      </div>
    <!-- /ko -->
  <!-- /ko -->

</div>
