<style>
  .collection {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 100%;
    overflow-y: scroll;
  }

  .collection image-component {
    width: 200px;
    height: 200px;
  }

  .collection-tabs {
    overflow: hidden;
  }

  .collection-tabs .user-profile-tabs{
    width: 352px;
  }

  .collection-titlebar {
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
  }

  .collection-titlebar-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
</style>

<div id="collection" class="collection" data-bind="with: $root.collection, added_to_view: $root.collection.added_to_view">

  <div class="preferences-titlebar collection-titlebar">
    <span class="icon-back" data-bind="click: click_on_back_button"></span>
    <span class="collection-titlebar-center">
      <span>Library</span>
      <span class="text-graphite">Italy Trip</span>
    </span>
    <span class="icon-close"></span>
  </div>

  <!-- ko if: message_ets().length === 0 -->
    <div class="full-screen flex-center">
      <div class="icon-spinner spin text-theme"></div>
    </div>
  <!-- /ko -->

  <!-- ko if: message_ets().length > 0 -->
    <!-- ko foreach: {data: message_ets, as: 'message_et'} -->
      <!-- ko foreach: {data: message_et.assets, as: 'asset'} -->
        <!-- ko if: asset.is_image() -->
          <image-component params="asset: asset.resource"></image-component>
        <!-- /ko -->
        <!-- ko if: asset.is_audio() -->
          <audio-asset params="asset: asset"></audio-asset>
        <!-- /ko -->
        <!-- ko if: asset.is_file() -->
          <file-asset params="asset: asset"></file-asset>
        <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->
  <!-- /ko -->

</div>
