<div id="collection"
     class="collection content-wrapper"
     data-bind="with: $root.collection, added_to_view: $root.collection.added_to_view, removed_from_view: $root.collection.removed_from_view">

  <!-- ko if: conversation_et() -->

    <div class="content-titlebar">
      <div class="content-titlebar-items-left">
        <span class="content-titlebar-icon icon-back" data-bind="click: click_on_back_button"></span>
      </div>

      <span class="content-titlebar-items-center">
        <span>Library</span>
        <span class="text-graphite" data-bind="text: conversation_et().display_name()"></span>
      </span>

      <div class="content-titlebar-items-right">
        <span class="content-titlebar-icon icon-close"></span>
      </div>

    </div>

    <div class="content-list collection-list">

      <!-- ko foreach: {data: images, as: 'image'} -->
        <image-component class="collection-image" params="asset: image.resource"></image-component>
      <!-- /ko -->

      <!-- ko foreach: {data: files, as: 'file'} -->
        <file-asset params="asset: file"></file-asset>
      <!-- /ko -->

      <!-- ko foreach: {data: links, as: 'link'} -->
        <link-preview-asset params="preview: link"></link-preview-asset>
      <!-- /ko -->

    </div>

  <!-- /ko -->

</div>
